.black {
  color:black;
}

.blue {
  color: royalblue;
}

.list-group-item {
  border:none;
}

input {
  margin-bottom: 8px;
}

button {
  margin-bottom: 8px;
}


.clickable {
  cursor: pointer;
  color: dodgerblue;
}
