<div class="container">
  <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
         <a  class="nav-link" (click)="toWidgetList()"><span class="glyphicon glyphicon-chevron-left"></span></a>
      </li>
    </ul>
    <span class="navbar-text black mr-auto">Edit Widget</span>
    <ul class="navbar-nav ml-auto">
      <li class = "nav-item active">
         <a  class="nav-link" (click)="toWidgetList()"><span class="glyphicon glyphicon-ok"></span></a>
      </li>
    </ul>
  </nav>

  <br><br><br>

  <form>
    <label for="ytname">Youtube Name</label>
    <input [(ngModel)]="ytname"
           type="text"
           name="ytname"
           placeholder="Youtube Name"
           class="form-control"
           id="ytname">
    <label for="yttext">Youtube Text</label>
    <input [(ngModel)]="yttext"
           type="text"
           name="yttext"
           placeholder="Youtube Text"
           class="form-control"
           id="yttext">
    <label for="yturl">Youtube URL</label>
    <input [(ngModel)]="yturl"
           type="text"
           name="yturl"
           placeholder="Youtube URL"
           class="form-control"
           id="yturl">
    <label for="width">Width</label>
    <input [(ngModel)]="ytwidth"
           type="text"
           name="width"
           placeholder="Width"
           class="form-control"
           id="width">

      <button type="button" class="btn btn-danger btn-block" (click)="toWidgetList()">Delete</button>
  </form>


  <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-bottom">
    <ul class="navbar-nav ml-auto">
      <li class = "nav-item active">
         <a  class="nav-link" (click)="toProfile()"><span class="glyphicon glyphicon-user blue"></span></a>
      </li>
    </ul>
  </nav>
</div>
