<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta  name="viewport" content="width=device-width,initial-scale=1">
  <title>Page List</title>
  <link rel="stylesheet" type="text/css" href="widget_pages.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <script src="widget_pages.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="content">
  <ul class="widget_navbar">
    <li><a class="left-align" href="#" onclick="goToWidgetList()"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
    <li><a class="left-align" href="#">Widget Edit</a></li>
    <li><a class="right-align" href="#" onclick="goToWidgetList()"><span class="glyphicon glyphicon-ok"></span></a></li>
  </ul>
  <form>
    <p class="field_title">Name</p>
    <input type="text" name="widget_image_name" placeholder=" Image Name" class="widget_text">
    <br>
    <p class="field_title">Text</p>
    <input type="text" name="widget_image_text" placeholder=" Image Text" class="widget_text">
    <p class="field_title">URL</p>
    <input type="text" name="widget_image_url" placeholder=" Image URL" class="widget_text">
    <p class="field_title">Width</p>
    <input type="number" name="widget_image_width" placeholder=" Image Width" class="widget_text">
    <p class="field_title">Upload</p>
    <input type="file" name="widget_image_file" class="widget_file"><br>
    <button type="button" class="blue_button" onclick="goToWidgetList()">Upload Image</button><br>
    <button type="button" class="red_button_bottom" onclick="goToWidgetList()">Delete</button>
  </form>
  <br><br><br>
  <ul class="widget_navbar bottom-align">
    <li><a class="right-align" href="#" onclick="goToProfile()"><span class="glyphicon glyphicon-user blue"></span></a></li>
  </ul>

</div>

</body>
</html>
