<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta  name="viewport" content="width=device-width,initial-scale=1">
  <title>Page List</title>
  <link rel="stylesheet" type="text/css" href="page_pages.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <script src="page_pages.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="content">
  <ul class="page_navbar">
    <li><a class="left-align" href="#" onclick="goToPageList()"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
    <li><a class="left-align" href="#">New Page</a></li>
    <li><a class="right-align" href="#" onclick="goToPageList()"><span class="glyphicon glyphicon-ok"></span></a></li>
  </ul>
  <form>
    <p class="field_title">Name</p>
    <input type="text" name="profile_uid" placeholder=" Page Name" class="page_text">
    <br>
    <p class="field_title">Title</p>
    <input type="text" name="profile_email" placeholder=" Page Title" class="page_text">
  </form>
  <br><br><br>
  <ul class="page_navbar bottom-align">
    <li><a class="right-align" href="#" onclick="goToProfile()"><span class="glyphicon glyphicon-user blue"></span></a></li>
  </ul>

</div>

</body>
</html>
